
.About_image {
    height: 120px;
    width: 100vw;
    background-color: white;
    background-image: url(../../../public/pages_img/about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    font-size: 3rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: relative; /* Needed for the pseudo-element */
    text-align: center; /* Center the text */
}

