nav{
    width: 100vw;
    height: 13vh;
    background-color: var(--three);
    overflow: hidden;
}
.logo_navbar{
    height: 70px;

    margin: 5px;
    padding: 5px;
}  
li{
    list-style: none;
}
.for_pc_navbar{
    display: none;
    /* display: none; flex */
    justify-content: space-between;

}
.navbar_ul_pc{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 20px;

}
.navbar_li_pc{
    margin: 10px;
    font-weight: 500;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}
.navbar_li_pc:hover{
    transform: translate(-5px, -5px);
}
.navbar_button_pc{
    font-size: 0.9rem;
    font-weight: 500;
    height: 40px;
    width: 160px;
    border-radius: 10px;
    background-color: var(--one);
    color: var(--blac);
    transition: all 0.3s ease;
}

.navbar_button_pc:hover{
    transform: translate(-5px, -5px);
}
.circle{
    background-color: var(--four);
    color: var(--b);
    border-radius: 10px;
    padding: 10px;
}

.noline{
    text-decoration: none;
    color: var(--b);
}


/* -------------------------------------------------------------------------------------------------------------------------------- */

.for_mobile_navbar{
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
}
.material-symbols-outlined{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-right: 20px;

    cursor: pointer;

}
.Sidebar_navbar{
    height: 100vh;
    width: 100vw;
    background-color: var(--two);

    z-index: 10;
    position: fixed;
    top: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar_ul_mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-right: 20px;

}
.close{
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.display_none{
    display: none;
}

@media screen and (min-width:700px) {
    .for_pc_navbar{
        display: flex;
    }
    .for_mobile_navbar{
        display: none;
    }
}
@media screen and (max-width:700px) {
    .for_pc_navbar{
        display: none;
    }
    .for_mobile_navbar{
        display: grid;
    }
}